# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\guc9th\[CSEN906] Constraint Programming\Residential-Buildings-Layouts-Generator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
